{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_collaborate/pagerow
    Moodle renders a simple view page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id int submission id
    * title string Collaborate title
    * submission String body of the html submission (stripped)
    * firstname String student first name
    * lastname String student last name
    * grade int student grade

    Example context (json):
        {
         "id": "1",
         "title": "Missing piece",
         "submission": "What I submit is...",
         "dirstname": "Alma",
         "lastname": "Patel",
         "grade": "100"
        }
}}

<tr class="danger">
  <td>{{id}}</td>
  <td>{{title}}</td>
  <td>{{#shortentext}} 100, {{submission}} {{/shortentext}}</td>
  <td>{{firstname}}</td>
  <td>{{lastname}}</td>
  <td>{{grade}}</td>
  <td><a href="{{gradelink}}">{{gradetext}}</a></td>
</tr>