{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_collaborate/view

    Moodle renders a simple view page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * url_view link to view page (tab)
    * url_reports link to reports page (tab)
    * title String a page title.
    * body String of html code the formatted module intro.
    * urla URL of partner a instructions page
    * urlb URL of partner b instructions page

    Example context (json):
        {
         "url_view": "#",
         "url_reports": "#",
         "title": "My heading",
         "body": "<p>My html body</p>",
         "urla": "#",
         "urlb": "#",
        }
}}
{{#reports}}
<div class = "container">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="{{url_view}}">
        {{# str }} viewtab, mod_collaborate {{/ str }}</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url_reports}}">
        {{# str }} reportstab, mod_collaborate {{/ str }}</a></li>
  </ul>
</div>
{{/reports}}

<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        {{{body}}}
    </div>
    <div class = "container">
        <a href = "{{url_a}}" class="btn btn-primary">{{# str }} studenta, mod_collaborate {{/ str }}</a>
        <a href = "{{url_b}}" class="btn btn-primary">{{# str }} studentb, mod_collaborate {{/ str }}</a>
    </div>
</div>